.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: transparent;
}

.logo svg {
  width: 40px;
  height: 40px;
}

.menu-toggle {
  display: none;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.menu-toggle span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #777;
  margin: 5px 0;
  transition: background-color 0.3s ease;
}

.navigation {
  display: flex;
}

.nav-item {
  margin-right: 20px;
  text-decoration: none;
  color: #777;
}

.nav-item.active {
  color: white;
  border-bottom: 2px solid white;
}

@media (max-width: 768px) {
  .logo img {
    height: 30px;
  }

  .menu-toggle {
    display: block;
  }

  .navigation {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: transparent;
    padding: 10px;
  }

  .navigation.active {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }
}
